@import url("https://fonts.googleapis.com/css?family=Oswald:400,600&display=swap");

$primary-color: #d32f2f;

.guillemets {
  position: relative;
  quotes: "\201C""\201D""\2018""\2019";
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  &:before {
    content: open-quote;
    display: block;
    position: absolute;
    top: -41px;
    left: -24px;
    font-size: 82px;
    font-weight: 900;
    color: $primary-color;
  }
  &:after {
    content: close-quote;
    display: block;
    position: absolute;
    right: -21px;
    bottom: -72px;
    font-size: 82px;
    font-weight: 900;
    color: $primary-color;
  }
}
